7-day Indian vegetarian diet plan to consume 1,200-1,500 calories a day: 

Day 1

Breakfast: Lemon detox water, around one cup of oatmeal cooked in water, topped with some honey and cut fruits like apples or raspberries.

Lunch: Vegetable salad bowl made from baby spinach, cucumber, cherry tomatoes, olive oil dressing and one cup of green tea.

Dinner: Vegetable wrap, made of whole wheat roti with tofu/paneer slices.

Snacks: Roasted Makhanas - 1 bowl with almond milk

Day 2

Breakfast: One cup of peas poha and one cup of coffee without sugar.

Lunch: One cup of mixed vegetable curry with ½ a cup of brown rice.

Dinner: One cup of broccoli soup with one toasted multi-grain bread.

Snacks: Puffed rice with peanuts -1 bowl with butter milk


Day 3

Breakfast: Lemon honey detox water, fruit smoothie with one peanut butter toast.

Lunch: Millet , like foxtail and vegetables with one cup of coffee in almond milk and little sugar.

Dinner: Yellow lentil dal with 3/4th cup of brown rice and salad.

Snacks: Aaloo chat half plate  


Day 4

Breakfast: Lemon detox water, two multi-grain rotis stuffed with vegetables and one cup of curd. Finish it off with a tiny cup of green tea.

Lunch: An Indian bowl full of vegetables,brown rice along with the homemade mint-basil chutney.

Dinner: Low-fat paneer curry with two multi-grain rotis and salad.

Snacks:Mixed fruit smoothie

Day 5

Breakfast: Lemon detox water, oatmeal made in water and little unsweetened almond milk topped with chia seeds and cinnamon.

Lunch: One cup of tofu curry with two multi-grain rotis or 3/4th cup of brown rice, curd and green salad.

Dinner: Vegetable multi-grain wrap made of cottage cheese, mint chutney and vegetables, and one cup of chamomile tea.

Snacks:Sweet corn 1 cup

Day 6

Breakfast: Chia seed water, two multi-grain idlis with homemade coconut and mint chutney and one cup of rasam.

Lunch: Vegetable sambar with one cup of brown rice and salad and one cup of buttermilk.

Dinner: Lauki sabzi and one cup of lentil soup without tadka, two multi-grain rotis and salad.

Snacks: Sprouts 1 cup


Day 7

Breakfast: Cinnamon detox water, besan chila with mint and garlic chutney and one medium apple.

Lunch: Chickpea and spinach curry with one cup of brown rice, curd and salad.

Dinner: Mixed vegetable soup and one whole-grain toast.

Snacks: 1 cup coconut water + ½ cup grapes/watermelon



normal 
 
1 BREAKFAST: Vanilla chia pudding with 1 cup fresh berries
LUNCH: Crunchy red cabbage and green apple sesame slaw with 1 cup steamed, cubed sweet
potato (or 1 small sweet potato, baked)
DINNER: Black bean and quinoa salad with quick cumin dressing and 1 cup milk
SNACKS : Dark chocolate
 

2 BREAKFAST: Smoothie with 1 cup almond milk, 1 large frozen banana, 1-2 tablespoons
           almond butter and a heaping cup of leafy greens (spinach,chard, kale, etc.)
LUNCH: 1 brown rice tortilla or two gluten free corn tortillas, fresh or roasted bell pepper and paneer, sliced cucumbers, and a handful of
       greens. Serve with steamed vegetables as desired, or a small side salad.
DINNER: Salmolina Pasta with Cherry Tomatoes, Sweet Potato, Basil, and Hemp “Parmesan”
Snacks: green salad with half cup of beans or lentils, two tablespoons sliced almonds, vegetables of your choosing


 3 BREAKFAST: Oats with 1 cup fresh berries
LUNCH: 3 tortillas with fresh vegetables (carrots, celery,
romaine leaves, bell pep-per, etc.)
DINNER: Small baked sweet potato  with a tablespoon of melted
coconut oil, half a cup of organic black beans, and steamed greens as desired (or a fresh side
salad)
Snacks: 2 brownie bites

4 BREAKFAST: Peanut Butter & Chocolate Chip Nirvana bar, fresh fruit salad as desired
LUNCH:  1 cup organic chickpeas/ black gram salad, 1 oz. almonds and a few tablespoons raisins
DINNER: Quick white bean and summer vegetable (prepare with quinoa or brown rice
or 3 roti)
SNACK: Apples with 2 tablespoons almond butter

5 BREAKFAST: Smoothie with 1 cup almond milk, 1 cup frozen blueberries, 1 serving
chocolate Nutrition protein, 3 tablespoons of chia seeds, and 1 cup leafy greens of choice
LUNCH: kidney bean and summer vegetable pasta 
DINNER: Butternut spinach curry served over 1/2 cup cooked quinoa or rice, steamed vegetables as
desired
SNACK: Dark chocolate , a donut

6 BREAKFAST: Banana and almond butter oats 
LUNCH: avocado and salad , seasonal vegetable soup
DINNER: Black bean and corn burgers, served with a small salad or steamed vegetables
SNACK: 1 cup almond milk with cornflakes

DAY 7
BREAKFAST: Smoothie of 1 banana, 1 cup frozen peaches, 1 cup leafy greens
LUNCH: Mango and avocado salad , 1 bowl of steamed sprouts
DINNER: Eggplant vegetable, steamed greens or broccoli and tortilla
SNACKS: Apple cinnamon oatmeal


high calorie

BREAKFAST: Smoothie with 1 cup almond milk, 1 large frozen banana, 1-2 tablespoons
almond butter and a heaping cup of leafy greens (spinach,
chard, kale, etc.)
LUNCH:2 rotis + 1 cup vegetable curry + 1 cup lentil/beans + ½ cup salad + ½ cup low-fat curd
 
DINNER: Easy un-fried brown rice and vegetables
SNACK: Vegetable burritto

2 BREAKFAST: Banana breakfast wraps
LUNCH: Brown rice tortilla “pizza” and a side salad
DINNER:  and cauliflower
SNACK:1 Coconut water & ½ cup vegetable upma 


3 BREAKFAST: Apple cinnamon oatmeal
LUNCH: Fennel, avocado, and tomato salad with 1/2 cup chickpeas or black beans , with vegetable porridge
DINNER: Roasted vegetable pesto pasta salad
SNACK: 1 cup almond milk & Dark chocolate



4 BREAKFAST: Gluten free, vegan pumpkin muffins with a tablespoon of almond butter and
an apple
LUNCH: 1 cup vegetable oats + 1 cup green tea + Handfull almonds and walnut
DINNER:  marinated mushroom “steak” and cauliflower “mashed potatoes,”
served with steamed greens or broccoli
SNACK: 1 cup of fruit smoothie (or a mix of raw almonds and raisins or goji berries) , icecream of choice


5 BREAKFAST: Smoothie of 1 cup frozen blueberries or mixed berries, 1 cup coconut water,
1/2 small avocado, 1 serving Chocolate protein powder, and a dash of cinnamon
LUNCH: Easy curried yellow lentils served with a salad anddressing of choice or steamed vegetables as desired and brown rice
SNACK: Celery served with 2 tablespoons of peanut or almond butter and raisins
DINNER:  salad of raw greens and vegetables of choosing, 1 cup cooked sweet potato,1/2 avocado, cubed, ½ cup cooked lentils, and a dressing of choice.
 1 cup warm skim milk with a pinch of turmeric before bed



6 BREAKFAST: 1 sliced banana and fresh berries with 1 cup organic puffed rice or millet cereal and 1 cup almond milk
LUNCH: Sweet potato and black bean with steamed broccoli or green avocado and jicama salad, 1 small apple 
 SNACKS: 2 peanut butter toast or poha 1 bowl
DINNER: Cauliflower “rice” with lemon, mint, and pistachios, served over fresh greens


7 BREAKFAST: 2 idlis with 1 cup sambar and ¼ cup coconut chutney + 1 cup green tea + 4 almonds
LUNCH:2 rotis + 1 serving white rice + 1 cup dal + 1 cup mixed vegetable curry + 1 cup salad + 1 cup buttermilk (after 20 minutes)
DINNER:2 rotis + ½ cup mixed vegetable curry / chickpeas + 1 cup low-fat curd + 1 cup salad + 1 cup warm skim milk with a pinch of turmeric before bed
 SNACKS:1 cup moong bean sprouts,peanuts with salt pepper and lemon to taste Or 1 cup cucumber and carrot slices










NONVEG

LOW CALS

1 BREAKFAST:Spinach Smoothie & fruit of your choice
LUNCH: 1 cup rice/brown rice, I cup chicken curry, boiled spinach, fresh salad
DINNER:2 rotis or I cup of cooked millet, I cup dal or egg curry, I cup raw salad
SNACKS:Tea and whole wheat crackers or biscuits 


2 BREAKFAST:Idli or Vegetable Upma ,fruit and a handful of nuts like almonds, walnuts, cashews
LUNCH:2 rotis, 1 cup vegetable of your choice, fresh salad, 1 cup dal or 1 piece grilled chicken breast
DINNER:2 wheat rotis or jowar rotis, 1 cup subzi of your choice, 1 boiled egg, 1 cup chickpea salad
SNACKS:1 Whole wheat bread toast with peanut butter. Sprinkle chia seeds on top.


3  BREAKFAST:Poha with I cup curd 1 fruit of your choice
LUNCH:Easy curried yellow lentils served with a salad anddressing of choice or steamed vegetables as desired with brown rice.
DINNER:1 cup chickpea salad. Or grilled fish or chicken with grilled vegetables like broccoli and carrots on the side.
SNACKS:Coconut water and steamed sprouts / beans .


4 BREAKFAST:2 whole wheat bread toasted, 2 eggs for scrambled eggs or a mushroom stuffed omelette
LUNCH:Fish curry with brown rice , seasonal salad.
DINNER:2 rotis, grilled fish or chicken, 1 cup subzi of your choice, 1 cup raw salad
SNACKS:

5  BREAKFAST:Oats and apple pancakes, fruit of your choice
LUNCH:Scrambled egg with multigrain bread , 1 cup of almond milk/ fruit smoothie.
DINNER:2 rotis, I piece pan seared chicken thigh, I cup subzi of your choice, fresh salad
SNACKS:Tea and a handful of roasted makhana or fox nuts


6 BREAKFAST:Masala Oats with a fried egg on top
LUNCH:1 cup broccoli soup ,1 cup rice with steamed spinach or  Dal Khichdi.
DINNER: Chicken curry and 1 cup of fresh salad with 2 tortillas
SNACKS:2 brownie bites with coffee
 
7 BREAKFAST:2 Dosas with peanut chutney and I cup vegetable sambar
LUNCH:1 cup brown rice chicken biriyani with cucumber raita and 1 cup of fresh salad.
DINNER:2 rotis ,1 cup dal or egg curry ,1 cup subzi of your choice. 1 cup of raw salad.
SNACKS:Sweet corn 1 cup with coconut water.



Normal

1 BREAKFAST: 2 Boiled eggs , 2 whole grain toast , 1 cup milk
LUNCH:Whole grain 3 rotis , fish curry , salad
DINNER:Khichdi / Oats with a bowl of dry fruits + 1 cup of Turmeric Milk (20 mins before bed)
SNACKS: Roasted Makhanas - 1 bowl with seasonal fruit


2 BREAKFAST:Idli with sambhar / chutney 
LUNCH:Mixed vegetable curry , 3 chapatis ,Salad
DINNER:Chicken curry with 3 chapatis 
SNACKS: 2 brownie bites

3 BREAKFAST:2 Besan chila with vegetables
LUNCH:Small baked sweet potato  with a tablespoon of melted
coconut oil, half a cup of organic black beans, and steamed greens as desired (or a fresh side
salad)
DINNER:Egg Curry with 2 chapati and salad bowl
SNACKS: Apple cinnamon oatmeal


4  BREAKFAST:Vegetable Poha / Upma with Buttermilk
LUNCH: Omelate with 2 multigrain bread and Seasonal vegetable soup
DINNER: A plate of mutton Biryani
Snacks: 1 cup coconut water + ½ cup grapes/watermelon

5 BREAKFAST: 2 Chicken wraps with Vegetable
LUNCH:1 cup organic chickpeas/ black gram salad, curd and vegetable rice
DINNER: 2 plain/onion Dosa with Sambhar / chutney
SNACKS : Pan-roasted chicken  cutlet with Green chutney

6 BREAKFAST:Oatmeal with fresh berries , 2 boiled eggs
LUNCH:Chicken Soup 1 cup with 2 multigrain bread , vegetable salad
DINNER:Bajra Roti , any Dal of choice , seasonal vegetable 
SNACKS : Poha with berry smoothie

7 BREAKFAST:Mix Vegetable Soup 1 cup, 2 eggs omelet
LUNCH: 1 plate Chicken Fried Rice/ Chicken biryani 
DINNER:1 brown rice tortilla or two gluten free corn tortillas, fresh or roasted bell pepper and paneer, sliced cucumbers, and a handful of
       greens.
SNACKS : 1 bowl of upma / rasam rice.


HIGH CALS

Breakfast :	2 egg brown bread sandwich , green chutney , 1 cup milk & a bowl of dry fruits .
                
Lunch :	1 cup arhar dal , 1 cup potato curry , 3 chapatti , 1/2 cup rice , 1/2 cup low fat curd , salad
	
Dinner : chicken curry , 3 chapatti 

snacks: 1 cup banana shake/1 cup strawberry smoothie , 1 cup vegetable poha





2 BREAKFAST:3 onion stuffed parantha , 1 cup curd  & a bowl of dry fruits
LUNCH: moong dal/ chicken curry +  potato and caulifllower vegetable + 3 chapatti + 1/2 cup rice + salad
DINNER:beans potato vegetable/ grilled fish + 3 chapatti + salad
SNACKS :1 cup pomegranate juice + 2 butter toasted bread with 1 egg omlette



3 BREAKFAST:3 paneer stuffed besan cheela + green chutney + 1 cup curd & a bowl of dry fruits
LUNCH: dal + seasonal vegetable + 3 chapatti  + salad
DINNER:Fish curry with rice or 3 chapatis
SNACKS :1 cup tomato soup with bread crumbs + 1 cup aloo chaat


4 BREAKFAST: vegetable bread upma + 1 cup milk ,fruits
LUNCH:rajma curry + 3 chapatti + 1/2 cup rice + salad
DINNER: Fried chicken , steamed rice , curd 
SNACKS : scrambled eggs with vegetable seasoning , 2 wholegrain bread 


5 BREAKFAST:2 cucmber potato sandwich , green chutney ,1 glass orange juice 
LUNCH: Seaonal vegetable bowl with Seamed rice , yellow lentils
DINNER:Chole with 2 kulche/ bhature and buttermilk
SNACKS : poha and tea


6 BREAKFAST: Oatmeal with fresh berries , 2 boiled eggs
LUNCH:peas mushroom vegetable + 3 chapatti + salad
DINNER: Soybean curry + 3 chapatti + 1/2 cup curd 
SNACKS : fruit salad + 4 pc vegetable cutlets/ chicken wings  + green chutney


7 BREAKFAST:2 boiled chicken salad wrap with vegetable seasoning
LUNCH: chana dal ,Seasonal vegetable + 3 chapatti + 1/2 cup rice + salad
DINNER: 2 Egg curry with  3 chapatti , Turmeric milk 1 cup (20 minutes before bed)
SNACKS :1 cup moong bean sprouts,peanuts with salt pepper and lemon to taste Or 1 cup cucumber and carrot slices














