<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <p>
      It's no secret that maintaining a healthy BMI is crucial for your overall
      health. But what exactly is BMI, and how can you ensure you’re staying
      within the healthy range?<br /><br />The BMI is essentially a measure of
      body fat based on your height and weight. It's calculated by dividing your
      weight by the square of your height. While it's not a perfect metric
      (sorry, math lovers), it does provide a rough estimate of body fat
      percentage. We’re not going to do the math here but see below for more
      info on how to get your BMI.<br /><br />According to the US Preventive
      Services Task Force, by factoring in both your height and weight (and not
      just your weight alone), your BMI helps determine if you’re at risk for
      certain diseases.<br /><br />So, <strong>what’s a healthy BMI?</strong
      ><br /><br />Great question! Here’s the breakdown of the
      <strong>Adult Body Mass Index </strong>so you know where you’re at:
    </p>
    <p><br /></p>
    <ul>
      <li>Anything below 18.5 is <strong>underweight</strong></li>
      <li> A BMI between 18.5 and 25 is considered <strong>healthy</strong><br/></li>
        <li> A BMI between 25 and 30 is considered <strong>overweight</strong><br/></li>
        <li> A BMI over 30 is considered <strong>obese</strong></li>
    </ul>
    <p style="line-height: 1.3">
      <br />Before you start Googling the latest diet trend, keep in mind that
      BMI isn't a one-size-fits-all kind of thing. Athletes and people with more
      muscle mass may have a higher BMI — even if they’re actually fit and
      healthy. So, if you’re a gym buff (or something like that), it's always a
      good idea to talk to your doctor to make sure your body fat is in
      balance.<br /><br /><strong
        >Why’s it so important to maintain a healthy BMI?</strong
      ><br /><br />It’s important to pay attention to your body and what it's
      trying to tell you. Being overweight or obese can impact your quality of
      life and lead to a variety of health issues. This includes:<br /><br />High
      blood pressure<br />High cholesterol levels<br />Diabetes<br />Heart
      disease<br />Stroke<br />Gallbladder disease<br />Osteoarthritis<br />Sleep
      apnea<br />Chronic inflammation and pain<br />Certain types of cancer<br />Mental
      disorders such as anxiety and depression<br />Increased risk of death
    </p>
    <p><br /><strong>How do I measure my BMI anyway?</strong></p>
    <p><br /></p>
    <p>
      Your doctor usually does it for you during your annual physical by
      measuring your height and weight, and charting it accordingly. But if you
      want to stay on top of things between doctor visits, you can always weigh
      yourself and use a BMI calculator for up-to-date measurements.<br /><br /><strong
        >How do I maintain a healthy BMI?</strong
      ><br /><br />If your BMI isn't where it should be, don't worry – small
      changes can make a big difference. Staying active is a great place to
      start. Aim for at least 150 minutes of moderate-intensity aerobic activity
      or 75 minutes of vigorous-intensity aerobic activity per week. And don't
      forget to fuel your body with a balanced diet and, of course, stay
      hydrated.<br /><br /><strong
        >Should I talk to a doctor about my BMI?<br /></strong
      ><br />If your BMI score is outside of the healthy percentile, it’s
      important to talk to a provider. (You’ll thank yourself later.) Your
      primary care doctor is a great go-to for advice on ways to achieve a
      healthy balance of body fat. You could also see a dietician for further
      support.<br /><br />Your BMI isn’t just a number, it’s a tool to help you
      live your healthiest life. Wherever you’re at, know that you’re on the
      right track just by reading this!<br /><br /><br />
    </p>
  </body>
</html>
